<div ng-repeat="car in store.rentals[0]" class="card small hoverable col s6 m4 l3">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src="{{car.img}}">
    </div>
    <div class="divider"></div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{car.name}}<i class="material-icons right">more_vert</i></span>
        <!-- Example of currency filter -->
        <p class="flow-text">{{car.price | currency}}</p>

    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{car.name}}<i class="material-icons right">close</i></span>

        <div ng-hide="car.available < 1">
            <p>{{car.description}}</p>
            <p>Available: {{car.available}}</p>
            <a class="waves-effect waves-light btn red lighten-1" ng-click="store.rent(car.type, car.id)">Rent Now</a>
        </div>
        <div ng-show="car.available < 1">
            <p>We're sorry!</p>
            <p>Our {{car.name}} is unavailable.</p>
        </div>
    </div>
</div>
